* {
    margin: 0;
    border-radius: 0;
    font-family: press-start-2p, sans-serif;
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

body {
    --background-color: #171717;
    --hyperlink-color: #ffc167;
    --text-color: #E6E6E6;

    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    font-size: 16px;
}

@font-face {
    font-family: press-start-2p;
    src: url('fonts/press_start_2p/PressStart2P.ttf');
}

button {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 4px;
}

main {
    max-width: 1080px;
}

.name {
    font-size: 48px;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 1rem;
}
h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--hyperlink-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    @media (min-width: 600px) {
        flex-direction: row;
        align-items: start;
    }
}

.intro-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (min-width: 600px) {
        margin-left: auto;
    }
}

.sep-line {
    background-color: var(--text-color);
    width: 100%;
    height: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.minor-sep-line {
    background-color: var(--text-color);
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
