@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-background: oklch(0.1735 0.0296 245.65);
    --color-background1: oklch(0.2029 0.0419 245.65);
    --color-primary: oklch(0.7412 0.1258 237.18);
    --font-default: "Montserrat", sans-serif;
}
@layer base {
    body {
        @apply bg-background text-white font-default;
    }
    h1 {
        @apply text-4xl font-bold text-primary text-center;
    }
    h2 {
        @apply text-3xl font-bold text-primary text-center;
    }
    h3 {
        @apply text-3xl font-bold text-center;
    }
    a {
        @apply text-blue-200 transition-colors hover:text-blue-300 hover:underline;
    }
}
